<h1>Review#new</h1>

<%= simple_form_for [@restaurant, @review] do |f| %>
  <%= f.input :rating, label: 'Rating', collection: 0..5 %>
  <%= f.input :content, placeholder: 'Good burger !' %>
  <%= f.button :submit %>
<% end %>
